@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
.landingPageNav-container {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.landingPageNav {
	background-color: transparent;
	height: 70px;
	width: 95vw;
	list-style-type: none;
	align-items: center;
	font-family: GothamPro;
}
.teslaLogoTxt {
	margin-top: 3px;
	height: 12.5px;
	cursor: pointer;
	margin-left: 1vw;
}
.navLeft {
	float: left;
	margin-top: 16px;
	margin-left: -1vw;
}
.navCenter {
	/* border: 1px solid red; */
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: GothamPro;
}
.navCenter-inner {
	display: flex;
	font-size: 14.5px;
	font-weight: 500;
	margin-left: -1vw;
	margin-top: -17px;
}

.navCenter li {
	margin-left: 1.42vw;
}
.navRight {
	display: flex;
	font-size: 14.5px;
	font-weight: 500;
	float: right;
	margin-top: -17px;
	margin-right: -0.5vw;
	font-family: GothamPro;
}
.navRight li {
}
.tslaAccountBtn {
	margin-left: 1.75vw;
}
// .hamburgerNavLanding {
// 	margin-left: 1vw;
// 	background-color: rebeccapurple;
// 	height: fit-content;
// 	width: fit-content;
// 	margin-top: -100px;
// }

.landingDropdownNav {
	display: none;
}

.burgerMenu-container {
	display: flex;
	flex-direction: column;
	margin-left: 1.25vw;
	margin-right: 1vw;
	margin-top: 2px;
	// padding-top: 1px;
	cursor: pointer;
	z-index: 400;

	i {
		background-color: black;
		width: 17px;
		height: 1.7px;
		margin-bottom: 3px;
		border-radius: 2px;
		transition: all ease 0.5s;
	}
	.open:nth-child(1) {
		transform: rotate(45deg) translateY(7px);
	}
	.open:nth-child(2) {
		opacity: 0;
	}
	.open:nth-child(3) {
		transform: rotate(-45deg) translateY(-7px);
	}
	.close:nth-child(1) {
		transform: rotate(0) translateY(0);
	}
	.close:nth-child(2) {
		opacity: 1;
	}
	.close:nth-child(3) {
		transform: rotate(0) translateY(0);
	}
}

.burgerMenu-container-mobile {
	display: flex;
	flex-direction: column;
	margin-top: 17.5px;
	margin-right: 8px;

	i {
		background-color: black;
		width: 17px;
		height: 2px;
		margin: 1.65px;
		border-radius: 2px;
		transition: all ease 0.5s;
	}
	.open:nth-child(1) {
		transform: rotate(45deg) translateY(7px);
	}
	.open:nth-child(2) {
		opacity: 0;
	}
	.open:nth-child(3) {
		transform: rotate(-45deg) translateY(-7px);
	}
	.close:nth-child(1) {
		transform: rotate(0) translateY(0);
	}
	.close:nth-child(2) {
		opacity: 1;
	}
	.close:nth-child(3) {
		transform: rotate(0) translateY(0);
	}
}

.sidebarMenu {
	list-style: none;
	display: none;
}
.sidebarMenu li {
	border-bottom: 1px solid gray;
	padding-bottom: 30px;
	margin-top: 30px;
	width: 80%;
	margin-left: 1vw;
	line-height: 0.15em;
}
#firstItemSidebar {
	z-index: 100;
	padding-top: 50px;
}
@keyframes rightIn {
	0% {
		opacity: 0;
		transform: translateX(5rem);
	}
	80% {
		transform: translateX(-0.5rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.sidebarMenuVisible {
	position: relative;
	display: block;
	font-family: GothamPro;
	float: right;
	z-index: 100;
	background-color: white;
	height: 10000%;
	width: 346px;
	margin-top: -37px;
	list-style: none;
	position: absolute;
	right: -3vw;
	animation: rightIn 0.5s ease-out;
}

.sidebarMenuVisible li {
	border-bottom: 0.01px solid rgb(200, 200, 200);
	padding-bottom: 28px;
	margin-top: 28px;
	width: 76%;
	margin-left: 1vw;
	line-height: 0.15em;
	padding-left: 14px;
	font-size: 14.5px;
	cursor: pointer;
	z-index: 100;
}

@media (max-width: 1201px) {
	.navCenter {
		display: none;
	}
	.navRight {
		// display: none;
		background-color: rebeccapurple;
	}
	.landingDropdownNav {
		display: block;
		float: right;
		z-index: 100;
	}
	// .hamburgerNavLandingDropdown {
	// 	font-size: 22px;
	// 	margin-right: 1%;
	// 	margin-top: 12.5px;
	// 	z-index: 2;
	// 	position: absolute;
	// }
	.sidebarMenuVisible {
		width: 420px;
		right: -4vw;
		z-index: 0;
		// display: none;
	}

	.sidebarMenuVisible li {
		z-index: 0;
	}
	.burgerMenu-container-mobile {
		z-index: 100;
	}
}
