@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
.landingPageNav-container {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.landingPageNav {
	background-color: transparent;
	height: 70px;
	width: 95vw;
	list-style-type: none;
	align-items: center;
	font-family: GothamPro;
}
.teslaLogoTxt {
	margin-top: 3px;
	height: 12.5px;
}
.navLeft {
	float: left;
	margin-top: 16px;
	margin-left: -1vw;
}
.navCenter {
	/* border: 1px solid red; */
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: GothamPro;
}
.navCenter-inner {
	display: flex;
	font-size: 14.5px;
	font-weight: 500;
	margin-left: -1vw;
	margin-top: -17px;
}

.navCenter li {
	margin-left: 1.42vw;
}
.navRight {
	display: flex;
	font-size: 14.5px;
	font-weight: 500;
	float: right;
	margin-top: -17px;
	margin-right: -0.5vw;
	font-family: GothamPro;
}
.navRight li {
}
.tslaAccountBtn {
	margin-left: 1.75vw;
}
.hamburgerNavLanding {
	margin-top: -6.25px;
	margin-left: 1vw;
	font-weight: 900;
	font-size: 22px;
}
.landingDropdownNav {
	display: none;
}
@media (max-width: 1201px) {
	.navCenter {
		display: none;
	}
	.navRight {
		display: none;
	}
	.landingDropdownNav {
		display: block;
		float: right;
	}
	.hamburgerNavLandingDropdown {
		font-size: 22px;
		margin-right: 1%;
		margin-top: 12.5px;
	}
}
/* .landingPageNav li:hover {
	cursor: pointer;
}
.navLeft image:hover {
	cursor: pointer;
}
.landingPageNav li:hover {
	color: white;
}
#hamburgerNavLanding:hover {
	color: black;
} */
