.model3preview-container {
	height: 100vh;
	width: 100vw;
	background-image: url("model3.jpg");
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* background-position-x: -200px; */
	overflow: hidden;
	scroll-snap-align: start;
}
@media (max-width: 747px) {
	.model3preview-container {
		background-image: url("model3-mobile.jpg");
	}
}
.model3page-container {
	height: 100vh;
	width: 100vw;
	background-image: url("model3page.jpg");
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* background-position-x: -200px; */
	overflow: hidden;
}
@media (max-width: 747px) {
	.model3pagecontainer {
		background-image: url("model3page-mobile.jpg");
	}
}
