@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

.modelS-specs {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: GothamPro;
	margin-top: 55vh;
	margin-left: -4.85vw;
}
.modelS-specs ul {
	list-style-type: none;
	margin-left: 2.25vw;
}
.modelS-specs li {
	text-align: center;
	font-size: 29px;
}
.modelS-specs p {
	font-size: 12px;
	text-align: center;
}
.orderNowBtn {
	padding: 8px 24px 8px 24px;
	border: 4px solid white;
	border-radius: 180px;
	font-size: 14px;
	margin-top: -12px;
}
.orderNowBtn:hover {
	background-color: white;
	color: black;
}
