.solarRoof-container {
	height: 100vh;
	width: 100vw;
	background-image: url("solarRoof.jpg");
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	scroll-snap-align: start;
}
@media (max-width: 747px) {
	.solarRoof-container {
		background-image: url("solarRoof-mobile.jpg");
	}
}
.solarRoofpage-container {
	height: 100%;
	width: 100vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center center;
}
@media (max-width: 747px) {
	.solarRoofpage-container {
		background-image: url("solarRoof-mobile.jpg");
	}
}
