@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

.landingPageBtns-container {
	text-align: center;
	margin-top: 55vh;
}
.landingPageBtns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -1vw;
}

.landingPageBtn1 {
	font-family: GothamPro;

	border: 0px solid transparent;
	border-radius: 180px;
	outline: none;
	background-color: rgb(20, 20, 20);

	color: white;
	font-size: 15px;
	padding: 12px 74px 12px 74px;
	opacity: 0.75;
}
.landingPageBtn2 {
	font-family: GothamPro;

	outline: none;
	border: 0px solid transparent;
	border-radius: 180px;
	background-color: white;
	font-size: 15px;
	padding: 12px 50px 12px 50px;
	margin-left: 20px;
	opacity: 0.75;
}
button:hover {
	cursor: pointer;
}
@media (max-width: 700px) {
	.landingPageBtns {
		display: block;
		margin-top: -10%;
	}
	.landingPageBtn1 {
		width: 80vw;
	}
	.landingPageBtn2 {
		width: 80vw;
		margin-left: -0.25vw;
		margin-top: 14px;
	}
}
