.modelYpreview-container {
	height: 100vh;
	width: 100vw;
	background-image: url("modelY.jpg");
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -225px;

	background-position: center center;
	overflow: hidden;
	scroll-snap-align: start;
}
@media (max-width: 635px) {
	.modelYpreview-container {
		background-image: url("modelY-mobile.jpg");
	}
}
.modelYpage-container {
	height: 100vh;
	width: 100vw;
	background-image: url("modelYpage.jpg");
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -225px;

	background-position: center center;
	overflow: hidden;
}
@media (max-width: 635px) {
	.modelYpage-container {
		background-image: url("modelYpage-mobile.jpg");
	}
}
