.modelXpreview-container {
	height: 100vh;
	width: 100vw;
	/* background-image: url("modelx.jfif"); */
	/* background-color: yellow; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	overflow: hidden;
}
@media (max-width: 635px) {
	.modelXpreview-container {
		/* background-image: url("modelX-mobile.jfif"); */
	}
}
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

.modelX-specs {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: GothamPro;
	margin-top: 55vh;
	margin-left: -4.85vw;
}
.modelX-specs ul {
	list-style-type: none;
	margin-left: 2.25vw;
}
.modelX-specs li {
	text-align: center;
	font-size: 29px;
}
.modelX-specs p {
	font-size: 12px;
	text-align: center;
}
.orderNowBtn {
}
